
body
{
  background-color:#8da955;
}
.image1
{
  width: 13100px;
  height: 260px;
}
.image2
{
  width: 300px;
  height: 250px;
}
#myImage1
{
  width: 160px;
  height: 250px;
  margin-left:120px;
  border-color: green;
  margin-top: 30px;
}
.photo{
 height: 400px;
 width:100%;
}
.photo1{
 height: 600px;
 width:100%;
}
.photo11{
  margin-top: 21px;
 height: 709px;
 width:100%;
}


#myImage2
{
  width: 160px;
  height: 250px;
  margin-left: 94px;
  margin-top: 30px;

}
#myImage3
{
  width: 160px;
  height: 250px;
  margin-left:127px;
  margin-top: 30px;
}
#myImage33 {
    width: 160px;
    height: 250px;
    margin-left: 112px;
    margin-top: 30px;
}

.btn{
  color:white;
  width: 100px;
  font-family:initial;
 
  

}
.btn1{
  margin-left: 47px;
  margin-bottom: 10px;
  background-color:#0d1508;
}

.row{
  margin-top: 20px;
}

.abc{
  background-color:#728660;
}
.abcc{
  background-color:#acafaa;
}
.abc1{
  background-color:#728660;
}
.abc2{
  background-color:#728660;
}
.abc3{
  background-color:#728660;
}
.btn-success:hover {
    color: #fff;
    background-color: #374c78;
    border-color: #4e70b9;
}
#size-lg{
  width: 250px;
}