.list-none{
	list-style: none;
}

.bg-color
{
	background-color: #a5b1bd !important;
}

.sidebar-css
{
	background-color: #3c444c;
    width: 230px;
    height: 600px;
    margin-left: -102px;
}


.sidebar-css ul
{
	padding-left: 70px;
}

.sidebar-css ul li
{
	/*padding-top: 30px;*/
	padding-top: 10px;
	margin-top: 10px;
}

.sidebar-css ul li a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: medium;
	padding-top: 10px;
}

.sidebar-css label
{
	color: aliceblue;
	padding-left: 44px;
	padding-top: 20px;
	font-weight: bold;
	font-size: larger;
}

.brand
{
	font-weight: bold;
	color: white;
	font-size: xx-large;
}

#custom-container
{
	    margin-top: -601px;
    margin-right: -45px;
}

.room1
{
	background-color: darkgrey;
	height: 300px;
	opacity: 0.6;
}

.room1 h6
{
	font-weight: bold;
}
.room1 label
{
	margin: 5%;
	font-weight: bold;
	color: #020202;
	margin-left: 60px;
}


.logout a
{
	font-size: large;
    padding-top: 20px;
    color: yellow;
}

.logout h4
{
	color: white;
	font-family: monospace;
}

.project-brand 
{
	margin-top: 50px;
	text-align: center;
}

.project-brand h1
{
	font-family: georgia;
    font-weight: bolder;
}

.login-form
{
	margin-left: 350px;
}

.login-form h2
{
	font-family: monospace;
}

.registration-form
{
	margin-top: 50px;
}

.registration-form h2
{
	font-family: monospace;
    font-weight: bolder;
    font-size: xx-large;
}


.warnning
{
	color: red;
}

.demo-button
{
	position: absolute;
    top: 54%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #860808;
    color: white;
    font-size: 40px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    text-align: center;
    border: 5px solid #e48b8b00;
}




/*new code*/
.dorje h1{
	text-align: center;
}

.dorje{
	/*background-color: grey;*/
}
.dorje h3{
	text-align: center;
}

.dorje button{
	margin-left: 180px;
    margin-bottom: 20px;
}